<div class="masthead">
    
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
             
            <li><a href="#">Home</a></li>
           
            
         <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage database
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#/dashborad/">Status</a></li>
            <li><a href="#/containers/">Containers</a></li>
            <li><a href="#/images/">Images</a></li>
           
        </ul>
      </li>
      
      
     <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Tests
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#/jenkins/">Jenkins</a></li>
            <li><a href="#/jreports/">Reports</a></li>
           
        </ul>
      </li>
     
           
            <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage logs
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#/elasticsearch/">Elasticsearch</a></li>
            <li><a href="#/kibana/">Kibana</a></li>
           
        </ul>
      </li>
      
            
            <li><a href="#/sonar/">Code review</a></li>
             <li><a href="#/infos/">Infos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
