

<div class="detail">
    <h3>Shr-Testing Information</h3>
    <div>
       
        <p class="lead">
            <strong>Docker </strong><br />
            
        </p>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Version</td>
                <td>{{ docker.Version }}</td>
            </tr>
             <tr>
                <td>Description</td>
                <td>Docker is the world’s leading software container platform. Developers use Docker to eliminate “works on my machine” problems when collaborating on code with co-workers. Operators use Docker to run and manage apps side-by-side in isolated containers to get better compute density. Enterprises use Docker to build agile software delivery pipelines to ship new features faster, more securely and with confidence for both Linux and Windows Server apps.</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
      <p class="lead">
            <strong>Elastic stack</strong><br />
            
        </p>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Version</td>
                <td>5.1</td>
            </tr>
             <tr>
                <td>Description</td>
                <td>The Elastic stack is a versatile collection of open source software tools that make gathering insights from data easier. Formerly referred to as the ELK stack (in reference to Elasticsearch, Logstash, and Kibana), the growing list of tools that integrate with the platform (such as Beats) have outgrown the acronym but provide ever-growing capability for users and developers alike.</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div>
      <p class="lead">
            <strong>Jenkins</strong><br />
            
        </p>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Version</td>
                <td>2.6</td>
            </tr>
             <tr>
                <td>Description</td>
                <td>Jenkins is an open source automation server written in Java. The project was forked from Hudson after a dispute with Oracle. Jenkins helps to automate the non-human part of the whole software development process with now common things like continuous integration and by empowering teams to implement the technical aspects of continuous delivery. It is a server-based system running in a servlet container such as Apache Tomcat. It supports version control tools, including AccuRev, CVS, Subversion, Git, Mercurial, Perforce, Clearcase and RTC, and can execute Apache Ant, Apache Maven and sbt based projects as well as arbitrary shell scripts and Windows batch commands. The creator of Jenkins is Kohsuke Kawaguchi.Released under the MIT License, Jenkins is free software.</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div>
      <p class="lead">
            <strong>SonarQube</strong><br />
            
        </p>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Version</td>
                <td>6.1</td>
            </tr>
             <tr>
                <td>Description</td>
                <td>SonarQube is an open source platform for continuous inspection of code quality.Reporting on: identification of code duplications, Measurement of the level of documentation, Compliance with programming rules, Detection of potential bugs, Evaluation of code coverage by unit tests, Analysis of the distribution of complexity, Analysis of the design and architecture of an application</td>
            </tr>
            </tbody>
        </table>
    </div>

